@{
    ViewData["Title"] = "Resultado da Pesquisa de Produtos Propostos";
}

@model ProdutosService.ProdutoItem[]


<style>
    body {
        background-color: skyblue;
        font-family: Gadugi;
    }

    h1 {
        color: whitesmoke;
        font-family: 'Courier New';
        font-weight: 800;
        text-align: center;
        margin: 30px 0px 30px 0;
        text-align: center;
        text-shadow: 2px 2px 4px #000000;
    }

    table {
        border-collapse: collapse;
        width: 800px;
        margin: 0 auto;
        background-color: #E6F0F5;
        border-radius: 10px;
    }

    th, td {
        padding: 10px;
        text-align: center;
        font-weight: bold;
    }

    th {
        background-color: #0360AB;
        color: #FFFFFF;
    }

    tr:nth-child(even) {
        background-color: #F2F9FF;
    }

    tr:nth-child(odd) {
        background-color: #D5EAF7;
    }
</style>

@if (Model != null && Model.Length > 0)
{
    <h1>Resultado da Pesquisa de Produtos Propostos</h1>

    <table>
        <tr>
            <th>Número do Produto</th>
            <th>Número da Ata</th>
            <th>Número do Item no FDE</th>
            <th>Número do Item no Fornecedor</th>
            <th>Nome Amigável do Produto</th>
            <th>Marca do Produto</th>
            <th>Descrição do Produto</th>
            <th>Valor Unitário Cadastrado</th>
            <th>Data Inclusão na Base de Dados</th>
            <th>Justificativa (se fora inativado na loja)</th>
            <th>Status do Produto</th>
            <th>Descrição do Status do Produto</th>
            <th>Status Produto Item</th>
            <th>Descrição Status Produto Item</th>
            <th>Mensagem</th>
            <th>Status</th>

        </tr>
        @foreach (var produtosProposto in Model)
        {
            <tr>
                <td>@produtosProposto.NumeroProduto</td>
                <td>@produtosProposto.NumeroAta</td>
                <td>@produtosProposto.NumeroFDEItem</td>
                <td>@produtosProposto.NumeroItemFornecedor</td>
                <td>@produtosProposto.NomeAmigavelProduto</td>
                <td>@produtosProposto.MarcaProduto</td>
                <td>@produtosProposto.DescricaoProduto</td>
                <td>@produtosProposto.Vl_PrecoUnitario</td>
                <td>@produtosProposto.DataInclusaoBase</td>
                <td>@produtosProposto.JustificativaSituacao</td>
                <td>@produtosProposto.StatusProduto</td>
                <td>@produtosProposto.DescricaoStatusProduto</td>
                <td>@produtosProposto.StatusProdutoItem</td>
                <td>@produtosProposto.DescricaoStatusProdutoItem</td>
                <td>@produtosProposto.Mensagem</td>
                <td>@produtosProposto.Status</td>
            </tr>
        }
    </table>
}
else
{
    <p>Nenhum resultado encontrado.</p>
}
