@{
    ViewData["Title"] = "Resultado da Pesquisa de Itens da Ata";
}

@model AtasService.ItemAta[]


<style>
    body {
        background-color: skyblue;
        font-family: Gadugi;
    }

    h1 {
        color: whitesmoke;
        font-family: 'Courier New';
        font-weight: 800;
        text-align: center;
        margin: 30px 0px 30px 0;
        text-align: center;
        text-shadow: 2px 2px 4px #000000;
    }
    table {
        border-collapse: collapse;
        width: 800px;
        margin: 0 auto;
        background-color: #E6F0F5;
        border-radius: 10px;
    }

    th, td {
        padding: 10px;
        text-align: center;
        font-weight: bold;
    }

    th {
        background-color: #0360AB;
        color: #FFFFFF;
    }

    tr:nth-child(even) {
        background-color: #F2F9FF;
    }

    tr:nth-child(odd) {
        background-color: #D5EAF7;
    }
</style>

@if (Model != null && Model.Length > 0)
{
    <h1>Resultado da Pesquisa de Itens da Ata</h1>

    <table>
        <tr>
            <th>Número da Ata</th>
            <th>Número do Item</th>
            <th>Código do ITem no FDE </th>
            <th>Nome do Item</th>
            <th>Descrição do Item</th>
            <th>Valor Unitário do Item</th>
            <th>Status do Item</th>
            <th>Mensagem</th>
            <th>Descrição do Status do Item</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NumeroAta</td>
                <td>@item.NumeroItem</td>
                <td>@item.NumeroFDEItem</td>
                <td>@item.NomeItem</td>
                <td>@item.DescricaoItem</td>
                <td>@item.ValorUnitarioItem</td>
                <td>@item.StatusItem</td>
                <td>@item.Mensagem</td>
                <td>@item.DescricaoStatusItem</td>
            </tr>
        }
    </table>
}
else
{
    <p>Nenhum resultado encontrado.</p>
}
